<h1>New hyperlink</h1>

<% form_for(@hyperlink) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :[submitted_hyperlink %><br />
    <%= f.text_field :[submitted_hyperlink %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', hyperlinks_path %>